*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}
#navigation {
    width:100%;
    height: 6%;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 220px;
    padding-right: 220px;
    
}
#coll{
    width:100%;
    height: 74%;
    background-color: #131313;
    background-image: url(https://www.apple.com/v/home/l/images/heroes/iphone-se/hero__dvsxv8smkkgi_large.jpg);
    background-position: center 80px;
    
    background-repeat: no-repeat;
    
}
#coll h1{
    position: absolute;
    top: 17%;
    left: 50%;
    font-size: 400%;
    font-weight: 680;
    transform: translate(-50%,-50%);
    color: rgba(248, 248, 248, 0.904);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#coll h3{
    position: absolute;
    top: 26%;
    left: 50%;
    padding-top: 30px;
    color: rgba(209, 209, 209, 0.836);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translate(-50%,-50%);
    font-size: 190%;
    font-weight: 320;
    text-align: center;

}
#navigation i{
     color: rgb(209, 209, 209);
     font-size: 20px;
}
#navigation h5{
     color: rgb(224, 224, 224);
     font-weight: 200;
     font-size: 15px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#panel{
     width: 100%;
     height:100%;
     background-color: rgb(255, 255, 255);
     display: flex;
     justify-content: space-around;
}
#left{
    width:49%;
    height:100%;
    background-color: rgb(27, 27, 27);
    background-image: url(https://images.unsplash.com/photo-1592832122594-c0c6bad718b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
    background-size: cover;
    background-position: center 20px;
}
#righ{
    width: 49%;
    height:100%;
    background-color: rgb(0, 0, 0);
    background-image: url(https://www.apple.com/v/airpods/k/images/overview/airpods_pro__qwgxmyvspfey_large.jpg);
    background-repeat: no-repeat;
    background-position: center 370px;
}
#blac2{
    background-color: rgba(0, 0, 0, 0.089);
    height: 100%;
    width: 100%;
    
}
#blac1{
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
}
#blac1 h1{
    color: rgba(255, 255, 255, 0.904);
    font-size: 390%;
    text-align: center;
    padding-top: 87px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#over{
    height: 50%;
    width: 100%;
    background-image: url(https://www.apple.com/v/airpods/k/images/overview/logo_airpodspro__fttqfnyqw0ya_medium.png);
    background-repeat: no-repeat;
    background-position: center 100px;
    background-size: 50%;
}
#sep{
    width: 100%;
    height:12px
}
#coll2{
    width:100%;
    height: 78%;
    background-color: #FAFAFA;
    background-image: url(https://www.apple.com/v/home/l/images/heroes/iphone-11-spring/hero__dvsxv8smkkgi_large.jpg);
    background-position: center 158px;
    
    background-repeat: no-repeat;
    
}
#coll2 h1{
    position: absolute;
    top: 91%;
    left: 50%;
    font-size: 380%;
    font-weight: 680;
    transform: translate(-50%,-50%);
    color: rgb(37, 37, 37);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#coll2 h3{
    position: absolute;
    top: 97%;
    left: 50%;
    padding-top: 25px;
    color: rgb(37, 37, 37);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translate(-50%,-50%);
    font-size: 200%;
    font-weight: 350;
    text-align: center;

}
#coll2 h5{
    position: absolute;
    top: 103%;
    left: 50%;
    padding-top: 10px;
    color: rgba(37, 37, 37, 0.637);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translate(-50%,-50%);
    font-size: 120%;
    font-weight: 350;
    text-align: center;

}
#coll3{
    width:100%;
    height: 78%;
    background-color: #FAFAFA;
    background-image: url(https://www.apple.com/v/home/l/images/heroes/ipad-pro/hero__dvsxv8smkkgi_large.jpg);
    background-size: cover;
    background-position: -690px;
    background-repeat: no-repeat;
    
}
#coll3 h1{
    position: absolute;
    top: 172%;
    left: 50%;
    font-size: 380%;
    font-weight: 680;
    transform: translate(-50%,-50%);
    color: rgb(37, 37, 37);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#coll3 h3{
    position: absolute;
    top: 178%;
    left: 50%;
    padding-top: 15px;
    color: rgba(37, 37, 37, 0.692);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translate(-50%,-50%);
    font-size: 180%;
    font-weight: 350;
    text-align: center;

}
#coll3 h6{
    position: absolute;
    top: 184%;
    left: 50%;
    padding-top: 15px;
    color: #006CCF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translate(-50%,-50%);
    font-size: 150%;
    font-weight: 350;
    text-align: center;

}
#coll2 h6{
    position: absolute;
    top: 36%;
    left: 50%;
    padding-top: 5px;
    color: #006CCF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translate(-50%,-50%);
    font-size: 150%;
    font-weight: 350;
    text-align: center;

}
#coll h6{
    position: absolute;
    top: 108%;
    left: 50%;
    padding-top: 5px;
    color: #006CCF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translate(-50%,-50%);
    font-size: 150%;
    font-weight: 350;
    text-align: center;

}
#blac1 h6 {

    text-align: center;
    padding-top: 0px;
    color: #c2c2c294;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 150%;
    font-weight: 350;

}
#blac2 h6 {

    text-align: center;
    padding-top: 170px;
    color: #c2c2c294;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 150%;
    font-weight: 350;
}